{{page-title "5"}}
<Day @number='5' @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
<h1>Today's notes'</h1>
<ul>
  <li>I need to make a deep copy of the stacks, because otherwise my second puzzle uses the referenced manipulated arrays.</li>
  <li>I manipulated the input "by hand" before parsing it. I removed all the words: <code>move</code>, <code>from</code> and <code>to</code> from the input and also turned the arrays into lines instead of columns.</li>
</ul>
</Day>