{{page-title "7"}}
<Day @number='7' @solution1={{this.solution1}} @example1={{this.example1}} @solution2={{this.solution2}} @example2={{this.example2}}>
  <h2>Today I Used</h2>
  <ul>
    <li>an Object Oriented way of programming by creating a <code>Folder</code> class. <CodeSnippet @name="day7-class.js"/></li>
  </ul>
</Day>